.signin_view {
  background-image: url('https://source.unsplash.com/random/?party');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
}

.card {
  align-items: center;
  background-color: var(--white);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
}

.footer {
  box-sizing: border-box;
  height: 20px;
  padding: 1rem;
  text-align: center;
}

.footer small {
  color: var(--grey);
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 80px);
  width: 300px;
}

.greeting_container {
  margin-bottom: 1rem;
}

.greeting, .greeting h2 {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  margin:  0;
  padding: 0;
}

@media screen and (min-width: 1080px) {
  .signin_view {
    background-position: right;
  }
}

@media screen and (max-width: 800px) {
  .signin_view {
    background-color: var(--white);
  }

  .card {
    width: 100vw;
  }
}

.title_signin {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.signup_message {
  color: var(--grey);
  margin-top: .6rem;
}

.signup_button {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  ;
}
