.post_container {
  background-color: var(--white);
  border-radius: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 45px auto;
  grid-template-rows: repeat(2, 60px);
  padding: 1rem;
  margin-bottom: 1rem;
}

.post_container:hover {
  box-shadow: var(--shadow);
  transition: box-shadow var(--transition-time);
}

.post_input_container {
  align-items: center;
  display: flex;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.avatar {
  align-items: center;
  display: flex;
  justify-content: center;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  margin: 0 auto;
  overflow: hidden;
}

.avatar img {
  border-radius: var(--rounded);
}

.post_container div {
  display: flex;
}

.post_container div img {
  border-radius: 1rem;
}

.post_button {
  align-items: center;
  background-color: var(--gray);
  border: transparent;
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin-left: 4.4rem;
  padding: .3rem .8rem;
  width: 10rem;
}

.post_button:hover{
  background-color: #e3e7e8;
  transition: background-color var(--transition-time);
}

.create_post_button {
  align-items: center;
  background-color: var(--gray);
  border: transparent;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin-left: 7rem;
  margin-right: 3rem;
  text-transform: uppercase;
  width: 10rem;
}

.create_post_button:hover{
  background-color: #d4f2fc;
  transition: background-color var(--transition-time);
}

.post_action_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}