.post_container {
  background-color: var(--white);
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
}

.post_container:hover {
  box-shadow: var(--shadow);
  transition: box-shadow var(--transition-time);
}

.post_container div {
  display: flex;
  margin-left: 10px;
}

.post_container div img {
  margin-top: 20px;
  border-radius: 1rem;
}

.post_container div input {
  background-color: var(--gray);
  border: transparent;
  border-radius: .5rem;
  height: 2.5rem;
  margin-left: 20px;
  margin-top: 25px;
  outline: transparent;
  width: 80%;
}

.post_button {
  align-items: center;
  background-color: var(--gray);
  border: transparent;
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin-left: 4.4rem;
  padding: .3rem .8rem;
  width: 10rem;
}

.post_button:hover{
  background-color: #e3e7e8;
  transition: background-color var(--transition-time);
}

.create_post_button {
  align-items: center;
  background-color: var(--gray);
  border: transparent;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin-left: 7rem;
  margin-right: 3rem;
  text-transform: uppercase;
  width: 10rem;
}

.create_post_button:hover{
  background-color: #d4f2fc;
  transition: background-color var(--transition-time);
}

.post_action_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}