.userbar {
  align-items: center;
  display: flex;
}

.action_button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
}

.action_button:hover {
  background-color: gray;
}

.avatar {
  align-items: center;
  border-radius: 100px;
  display: flex;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  width: 50px;
}
