.userbar {
  align-items: center;
  display: flex;
}

.action_button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
}

.avatar {
  align-items: center;
  border-radius: 100px;
  display: flex;
  justify-content: right;
  overflow: hidden;
  width: 50px;
  margin-left: 1rem;
  margin-right: 0;
}

.create_post_icon {
  margin-top: 10px;
  height: 35px;
  width: 35px;
}
