.button {
  align-items: center;
  background-color: var(--gray);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-sizing: border-box;
  color: var(--black);
  cursor: pointer;
  display: flex;
  font-size: .8rem;
  font-weight: bold;
  justify-content: center;
  padding-bottom: .75rem;
  padding-top: .75rem;
  padding-right: .95rem;
  padding-left: .95rem;
  text-transform: uppercase;
  transition: background-color var(--transition-time);
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--grey);
  color: var(--gray);
  cursor: pointer;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(360deg);
  }
}

.icon {
  height: 41px;
  padding: .50rem;
  width: 41px;
}

.loader {
  animation: spin 4s infinite linear;
  font-size: 1rem;
  margin-left: .5rem;
}

.primary {
  background-color: var(--blue);
  color: var(--white);
}

.primary:hover {
  background-color: var(--blue-darken);
}

.secondary {
  background-color: var(--gray);
  color: var(--black);
}

.secondary:hover {
  background-color: #d4f2fc;
  color: var(--black);
}
