.header {
  background-color: #fff;
  box-shadow:
    0 8.6px 7.6px rgb(0 0 0 / 2.5%),
    0 69px 80px rgb(0 0 0 / 5%);
  box-sizing: border-box;
  height: 70px;
}

.header_safe_zone {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto ;
}

.header h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.header nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header nav li {
  margin: 0 0.5rem;
}

.link {
  filter: grayscale(90%);
  text-decoration: none;
  transition: 0.5s;
}

.link:hover {
  filter: grayscale(40%);
  transition: 0.5s;
}

.link_active {
  filter: grayscale(0%);
  transition: 0.5s;
}

.link_active:hover {
  filter: grayscale(0%);
  transition: 0.5s;
}

@media screen and (max-width: 1040px) {
  .header_safe_zone {
    box-sizing: border-box;
    padding: 0 1rem;
  }
}
