.feed {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(500px, 600px) auto;
}

.posts_list {
  grid-column: 1 / 1;
}

@media screen and (max-width: 800px) {
  .feed {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 600px;
  }
}

@media screen and (max-width: 800px) {
  .gadgets {
    display: none;
  }
}
