.feed {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(650px, 600px) auto;
}

.posts_list {
  grid-column: 1 / 1;
}

@media screen and (max-width: 1100px) {
  .feed {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 650px;
  }
}

.followers_container {
  background-color: var(--white);
  border-radius: 1rem;
  box-sizing: border-box;
  height: 25rem;
  padding: 1rem;
}

.followers_container:hover{
  box-shadow: var(--shadow);
  transition: box-shadow var(--transition-time);
}

.gadgets {
  display: flex;
  justify-content: space-between;
}

.gadgets h4 {
  font-size: 20px;
  margin: 0;
}

.gadgets span {
  box-sizing: border-box;
  color: var(--grey);
  font-size: 20px;
  font-weight: 600;
  padding-right: 9.5rem;
}

.gadgets button {
  background-color: transparent;
  border: none;
  color: var(--grey);
  cursor: pointer;
}

.followers_box {
  background-color: transparent;
  display: flex;
}

.followers_image {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 17px;
  margin-top: 1rem;
  margin-left: 1.7rem;
}

.followers_image img {
  border-radius: .5rem;
}

